Датасет содержит данные по продажам видеоигр за некоторый период времени (вошли игры, продажи которых превышают 100 000 копий).

Источник: https://www.kaggle.com/datasets/gregorut/videogamesales.

Описание колонок:

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [2]:
import pandas as pd

# загрузим датасет
df = pd.read_csv('vgsales.csv')  

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые найдем ответ, используя функционал библиотеки Pandas.

In [3]:
#прежде всего - ознакомимся с датасетом
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

`Таким образом, null значения присутствуют только в столбцах Year и Publisher. 
С учетом характера вопросов, мне кажется, необязательно удалять из датасета строки с null значениями.
Но все же просчитаем ответы для df с null значениями и без таковых.`

In [224]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

## Вопрос 1: Количество уникальных игр в датасете.

In [3]:
unique_name = df['Name'].nunique()
unique_name

#ответ на вопрос: 11493

11493

## Вопрос 2: Какова общая величина продаж игр в Японии?

In [4]:
sum_jp_sales = df['JP_Sales'].sum()
sum_jp_sales_round = df['JP_Sales'].sum().round()
sum_jp_sales

#ответ на вопрос: 1291.0200000000002 или округленно 1291.

1291.0200000000002

## Вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [5]:
genre_in_NA = df.groupby('Genre')['NA_Sales'].sum()
genre_in_NA
genre_in_NA.sort_values(ascending=False)[:3]

#ответ на вопрос: Action, Sports, Shooter

Genre
Action     877.83
Sports     683.35
Shooter    582.60
Name: NA_Sales, dtype: float64

## Вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [6]:
#вариант 1:
df_00 = df.loc[df["Year"] == 2000]
grouped_df_00 = df_00.groupby('Platform').size().sort_values(ascending=False)[:1]
df_15 = df.loc[df["Year"] == 2015]
grouped_df_15 = df_15.groupby('Platform').size().sort_values(ascending=False)[:1]

#вариант 2:
df_00_1 = df_00['Platform'].value_counts()[:1]
df_15_1 = df_15['Platform'].value_counts()[:1]

#вариант 3:
df_00_2 = df.loc[df["Year"] == 2000].groupby('Platform').size().sort_values(ascending=False)[:1]
df_15_2 = df.loc[df["Year"] == 2015].groupby('Platform').size().sort_values(ascending=False)[:1]

print(grouped_df_00, grouped_df_15)

#ответ на вопрос: в 2000 году - PS, в 2015 - PS4.

Platform
PS    159
dtype: int64 Platform
PS4    137
dtype: int64

## Вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [7]:
new_df = df.copy()
years_to_find = [2012, 2013, 2014, 2015]
df_1215 = new_df.loc[new_df["Year"].isin(years_to_find)]
publishers_in_df_1215 = df_1215['Publisher'].value_counts()
publishers_in_df_1215.head(10)

#ответ на вопрос: Namco Bandai Games.

Publisher
Namco Bandai Games                        285
Activision                                161
Electronic Arts                           156
Ubisoft                                   137
Nintendo                                  106
Warner Bros. Interactive Entertainment    103
Tecmo Koei                                 91
Konami Digital Entertainment               78
Take-Two Interactive                       76
Sega                                       75
Name: count, dtype: int64

## Вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [8]:
df_sports = df[df.Genre == 'Sports']
sport_game_in_EU = (df_sports['EU_Sales'].sum() / df_sports['Global_Sales'].sum() * 100)
sport_game_in_EU_round = (df_sports['EU_Sales'].sum() / df_sports['Global_Sales'].sum() * 100).round()
sport_game_in_EU

#ответ на вопрос: 28.314787404296244% или округленно 28%

28.314787404296244

## Теперь выполним аналогичные расчеты для датасета без null-значений.

In [23]:
df_clean = df.copy()

In [24]:
print(f'Before .dropna(): {df_clean.shape}')
df_clean = df_clean.dropna()
print(f'After .dropna(): {df_clean.shape}')

Before .dropna(): (16598, 11)
After .dropna(): (16291, 11)

## Задание 1:

In [256]:
unique_name = df_clean['Name'].nunique()
unique_name

#ответ на вопрос: 11325

11325

## Задание 2:

In [274]:
sum_jp_sales = df_clean['JP_Sales'].sum()
sum_jp_sales_round = df_clean['JP_Sales'].sum().round()
sum_jp_sales

#ответ на вопрос: 1284.2700000000002 или округленно 1284.

1284.2700000000002

## Задание 3:

In [26]:
genre_in_NA = df_clean.groupby('Genre')['NA_Sales'].sum()
genre_in_NA
genre_in_NA.sort_values(ascending=False)[:3]

#ответ на вопрос: Action, Sports, Shooter

Genre
Action     861.77
Sports     670.09
Shooter    575.16
Name: NA_Sales, dtype: float64

## Задание 4:

In [30]:
df_00 = df_clean.loc[df_clean["Year"] == 2000]
grouped_df_00 = df_00.groupby('Platform').size().sort_values(ascending=False)[:1]
df_15 = df_clean.loc[df_clean["Year"] == 2015]
grouped_df_15 = df_15.groupby('Platform').size().sort_values(ascending=False)[:1]

#ответ на вопрос: в 2000 году - PS, в 2015 - PS4.

## Задание 5:

In [264]:
new_df = df_clean.copy()
years_to_find = [2012, 2013, 2014, 2015]
df_1215 = new_df.loc[new_df["Year"].isin(years_to_find)]
publishers_in_df_1215 = df_1215['Publisher'].value_counts()
publishers_in_df_1215.head(10)

#ответ на вопрос: Namco Bandai Games.

Publisher
Namco Bandai Games                        285
Activision                                161
Electronic Arts                           156
Ubisoft                                   137
Nintendo                                  106
Warner Bros. Interactive Entertainment    103
Tecmo Koei                                 91
Konami Digital Entertainment               78
Take-Two Interactive                       76
Sega                                       75
Name: count, dtype: int64

## Задание 6:

In [263]:
df_sports = df_clean[df_clean.Genre == 'Sports']
sport_game_in_EU = (df_sports['EU_Sales'].sum() / df_sports['Global_Sales'].sum() * 100)
sport_game_in_EU_round = (df_sports['EU_Sales'].sum() / df_sports['Global_Sales'].sum() * 100).round()
sport_game_in_EU

#ответ на вопрос: 28.363019767193176% или округленно 28%

28.363019767193176